.parent-container {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}



.container {
  width: 95vw;
  height: 95vh;
  background: #d4d4d4;
  display: flex;
  flex-direction: column;
  border: 0.2rem solid blue;
  border-radius: 0.7rem;
  align-items: center; /* Centers vertically */
}


